<div id="page-content">
<h1 class= "text-center mt-4">LISTING ALL ARTICLES</h1>

<div class="container">
<% @articles.each do |article| %>
<div class="row justify-content-md-center">
      <div class="col-8 mt-4">
<div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            By <%= article.user.username if article.user %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-success" %></h5>
            <p class="card-text"><%= truncate(article.description, length: 100) %></p> <!-- we will use truncate method for this bcz length can be of any limit so we want to limit it  -->
            <%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info" %>
            <%= link_to 'Delete',  '#', "data-toggle"=>"modal", "data-target" => "#delete-#{article.id}",:class=>'btn btn-outline-success' %></td>
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(article.created_at) %> ago, 
            edited <%= time_ago_in_words(article.updated_at) %> ago</small> <!-- we will use this handy method provided by rails time_ago_in_words as it is an helper method , we can display time without this also but it will not give us a clear pattern or we can say it will not be a user friendly -->
          </div>
  </div>
  </div>
  </div>
  </div>
  
  

<div class="modal fade" id="delete-<%= article.id %>" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">Confirmation Box</button>
          </div>
          <div class="modal-body">
            <p>Are you sure to delete this article</p>
          </div>
          <div class="modal-footer">
            <div class="modal-footer">
              <%= link_to 'Delete', article_path(article), method: :delete, :class => 'btn btn-danger' %>
                <a href="#" data-dismiss="modal" class="btn btn-warning">Cancel</a>
            </div>
          </div>
        </div>
      </div>
   </div>

   <% end %>

<p><%= link_to 'create new article', new_article_path %></p>


